*,
*::before,
*::after {
  box-sizing: border-box;
}

.calculator-grid {
  padding: 2rem 0rem;
  border-radius: 16px;
  background: linear-gradient(to right, blue, green);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 3.5rem);
  grid-template-rows: minmax(3.5rem, auto) minmax(4rem, auto) repeat(6, 2.5rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 0.8rem;
  border: 1px solid rgb(181, 181, 181);
  background-color: rgba(240, 248, 255, 0.774);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(240, 248, 255, 0.607);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  color: rgba(240, 248, 255, 0.73);
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.output .current-operand {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}

.center-close-button {
  display: grid;
  grid-template-rows: auto;
  padding: 0rem 4rem;
}
